@font-face {
  font-family: HeaderFont;
  src:url("./fonts/EncodeSansNormal-900-Black.ttf");
}

@font-face {
    font-family: BodyFont;
    src:url("./fonts/Open Sans regular.ttf");
}

@font-face {
    font-family: SubHeaderFont;
    src:url("./fonts/Fontfabric - UniSansRegular.otf");
}

.button {
    font-family:BodyFont;
}